<app-feedback [feedback]="feedback"></app-feedback>
<form method="post" (ngSubmit)="realizarDonacion()">
    <div class="container-div-row-one">
        <img class="imagen-manguito" src="assets/manguito.jpg" alt="manguito">
        <span>X</span>
        <div class="container-btns">
            <input type="button" class="buttons" (click)="menosManguito()" value="-">
            <span>{{donacion.cantidad}}</span>
            <input type="button" class="buttons" (click)="masManguito()" value="+">
        </div>
    </div>
    <div class="container-div-row-two">
    <input type="text" placeholder="Ingrese su nombre" [(ngModel)]="donacion.nombre" name="nombre"/>
    <input type="text" placeholder="Ingrese su contacto(email o telefono)" [(ngModel)]="donacion.contacto" name="contacto"/>
    <input type="text" placeholder="Mensaje que quiere dejarle al emprendedor" [(ngModel)]="donacion.mensaje" name="mensaje"/>
    <select name="metodoDePago" [(ngModel)]="donacion.medioDePago">
        <option
        value="{{ pago.id }}"
        *ngFor="let pago of emprendimiento.pagosAceptados"
        >
        {{ pago.nombre }}
        </option>
    </select>
    </div>
    <p>TOTAL: ${{total}}</p>
    <div class="div-container-btn-donar">
        <button class="button-donar" [disabled]="donacion.medioDePago == 0">DONAR</button>
    </div>
</form>