<form
class="bg-white p-2 form-container"
method="post"
>
<p class="text-center underline">Datos del usuario</p>
<div class="form-row mt-1">
  <div class="col">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      placeholder="Ingrese su email"
      name="email"
    />
  </div>
  <div class="col">
    <label for="dni">DNI</label>
    <input
      type="text"
      class="form-control"
      placeholder="Ingrese su DNI"
      name="dni"
    />
  </div>
</div>
<div class="form-row mt-2">
  <div class="col">
    <label for="nacimiento">Fecha de nacimiento</label>
    <input
      type="date"
      class="form-control"
      name="nacimiento"
    />
  </div>
</div>
</form>