.container-suspension {
    width: 68%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top:10px;
    text-align: center;
/*     filter: blur(10px); */
}

.container-suspension p {
    text-transform: uppercase;
}