<main class="container-login">
  <section class="section-login">
        <app-feedback [feedback]="feedback"></app-feedback>
        <form class="form-login" method="post" (ngSubmit)="login()">
            <h1>Inicio de sesión</h1>
            <div class="div-input-login">
              <input
                type="email"
                [(ngModel)]="email"
                name="email"
                placeholder="Ingrese su email"
                required
              />
            </div>
            <div class="div-input-login">
              <input
                type="password"
                [(ngModel)]="password"
                name="password"
                placeholder="Ingrese su contraseña"
                required
              />
            </div>
            <button class="btn-login" type="submit" >Ingresar</button>
          </form>
    </section>
</main>
