<main class="main-container">
    <section class="section-container">
        <p>{{edicion?'Edición':'Creación'}} de categoria:</p>
        <div
          *ngIf="feedback.mensaje"
          class="alert alert-dismissible fade show"
          [ngClass]="feedback.class"
          role="alert"
        >
          <strong>{{ feedback.mensaje }}</strong>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            (click)="feedback.mensaje = ''"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <div class="div-container">
      <div class="container-input">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          name="nombre-categoria"
          id="nombre"
          [(ngModel)]="categoria.nombre"
          placeholder="Ingrese el nombre de la categoria"
        />
      </div>
      <div class="boton-crear-categoria">
        <input
          class="btn btn-dark"
          type="submit"
          [value]="edicion?'EDITAR':'CREAR'"
          (click)="edicion?editarCategoria():crearCategoria()"
        />
      </div>
    </div>
  </section>
</main>
