<main class="main-container">
    <div class="spinner-border d-flex justify-content-center" role="status" *ngIf="cargando && edicion">
      <span class="sr-only">Loading...</span>
    </div>
    <section class="section-container" *ngIf="!cargando">
        <p>{{edicion?'Edición':'Creación'}} de categoria:</p>
        <app-feedback [feedback]="feedback"></app-feedback>
    <div class="div-container">
      <div class="container-input">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          name="nombre-categoria"
          id="nombre"
          [(ngModel)]="categoria.nombre"
          placeholder="Ingrese el nombre de la categoria"
        />
      </div>
      <div class="boton-crear-categoria">
        <input
          class="btn btn-dark"
          type="submit"
          [value]="edicion?'EDITAR':'CREAR'"
          (click)="edicion?editarCategoria():crearCategoria()"
        />
      </div>
    </div>
  </section>
</main>
