<span class="d-block mt-5">TOP DONADORES</span>
<table class="w-100 mb-5" style="height: 100%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Manguitos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let donacion of donaciones; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ donacion.nombre == "" ? "Anonimo" : donacion.nombre.length>15?donacion.nombre.slice(0,30)+'...':donacion.nombre }}</td>
      <td>{{ donacion.cantidad }}</td>
    </tr>
    <tr *ngIf="donaciones.length === 0">
      No hay donaciones
    </tr>
  </tbody>
</table>
