<app-feedback [feedback]="feedback"></app-feedback>
<button class="boton-suspender" (click)="mostrarSuspension()">
  Suspender emprendimiento
</button>
<div class="container-suspension" *ngIf="mostrar">
    <span (click)="mostrarSuspension()">❎</span>
    <p>Estas seguro que queres suspender el emprendimiento? Dejale un mensaje</p>
    <input type="text" placeholder="Mensaje de suspension" [(ngModel)]="mensajeSuspension" class="container-input-suspension">
    <input type="button" value="SUSPENDER" class="btn btn-primary" (click)="suspenderEmprendimiento()">
</div>
